Repository raccoongang/frontend-app-course-authoring, pull requests merged in 2023-08, with the labels that each got.

#28 feat: added Studio home page
  .env.development
  src/generic/help-sidebar/HelpSidebar.scss
  src/generic/help-sidebar/HelpSidebarLink.jsx
  src/generic/help-sidebar/index.jsx
  src/generic/help-sidebar/messages.js
  src/generic/sub-header/SubHeader.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/index.jsx
  src/index.scss
  src/store.js
  src/studio-header/DesktopHeader.jsx
  src/studio-header/Header.jsx
  src/studio-home/StudioHome.jsx
  src/studio-home/StudioHome.test.jsx
  src/studio-home/__mocks__/index.js
  src/studio-home/__mocks__/studioHomeMock.js
  src/studio-home/card-item/CardItem.test.jsx
  src/studio-home/card-item/index.jsx
  src/studio-home/data/api.js
  src/studio-home/data/selectors.js
  src/studio-home/data/slice.js
  src/studio-home/data/thunks.js
  src/studio-home/index.js
  src/studio-home/messages.js
  src/studio-home/organization-section/OrganizationSection.test.jsx
  src/studio-home/organization-section/index.jsx
  src/studio-home/scss/StudioHome.scss
  src/studio-home/settings-sidebar/SettingsSidebar.jsx
  src/studio-home/settings-sidebar/SettingsSidebar.test.jsx
  src/studio-home/settings-sidebar/messages.js
  src/studio-home/tabs-section/TabsSection.test.jsx
  src/studio-home/tabs-section/archived-tab/index.jsx
  src/studio-home/tabs-section/courses-tab/default-section/index.jsx
  src/studio-home/tabs-section/courses-tab/index.jsx
  src/studio-home/tabs-section/index.jsx
  src/studio-home/tabs-section/libraries-tab/index.jsx
Labels: studio-home

#39 fix: fixed display Minimum credit-eligible grade
  .env
  .env.development
  .env.test
  src/grading-settings/GradingSettings.jsx
Labels: bug, grading-page

#40 fix: fixed scale bar becomes empty after a few reloads
  src/grading-settings/grading-scale/GradingScale.jsx
  src/grading-settings/grading-scale/utils.js
  src/grading-settings/hooks.js
Labels: bug, grading-page

#36 feat: Course outline Top level page
  .env.development
  src/CourseAuthoringRoutes.jsx
  src/course-outline/CourseOutline.jsx
  src/course-outline/CourseOutline.scss
  src/course-outline/CourseOutline.test.jsx
  src/course-outline/__mocks__/courseOutlineIndex.js
  src/course-outline/__mocks__/index.js
  src/course-outline/data/api.js
  src/course-outline/data/selectors.js
  src/course-outline/data/slice.js
  src/course-outline/data/thunk.js
  src/course-outline/header-navigations/HeaderNavigation.test.jsx
  src/course-outline/header-navigations/HeaderNavigations.jsx
  src/course-outline/header-navigations/HeaderNavigations.scss
  src/course-outline/header-navigations/messages.js
  src/course-outline/hooks.jsx
  src/course-outline/index.js
  src/course-outline/messages.js
  src/course-outline/outline-sidebar/OulineSidebar.scss
  src/course-outline/outline-sidebar/OutlineSidebar.jsx
  src/course-outline/outline-sidebar/OutlineSidebar.test.jsx
  src/course-outline/outline-sidebar/messages.js
  src/course-outline/outline-sidebar/utils.jsx
  src/generic/help-sidebar/HelpSidebar.scss
  src/generic/sub-header/SubHeader.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/index.scss
  src/store.js
  src/studio-header/Header.jsx
Labels: course-outline

#38 fix: Course team Internet connection alert
  src/course-team/CourseTeam.jsx
  src/course-team/data/selectors.js
  src/course-team/data/slice.js
  src/course-team/data/thunk.js
  src/course-team/hooks.jsx
  src/course-team/info-modal/InfoModal.jsx
  src/course-team/utils.js
  src/generic/internet-connection-alert/index.jsx
Labels: course-team

#41 Fix: Course update validations and delete
  src/constants.js
  src/course-updates/CourseUpdates.jsx
  src/course-updates/course-update/CourseUpdate.jsx
  src/course-updates/course-update/CourseUpdate.scss
  src/course-updates/course-update/messages.js
  src/course-updates/course-update/utils.js
Labels: bug, course-updates

#43 refactor: design fixes
  src/grading-settings/GradingSettings.jsx
  src/grading-settings/assignment-section/AssignmentSection.scss
  src/grading-settings/scss/_variables.scss
Labels: grading-page, refactoring

#46 feat: added Proctoring link
  src/grading-settings/GradingSettings.jsx
  src/grading-settings/data/selectors.js
  src/grading-settings/grading-sidebar/index.jsx
Labels: grading-page

#47 fix: fixed deleting assignment types
  src/advanced-settings/messages.js
  src/grading-settings/assignment-section/index.jsx
  src/grading-settings/grading-scale/GradingScale.jsx
  src/grading-settings/grading-scale/utils.js
  src/grading-settings/hooks.js
  src/grading-settings/messages.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: grading-page

#49 Fix: Course team error messages
  src/course-team/CourseTeam.jsx
  src/course-team/CourseTeam.test.jsx
  src/course-team/__mocks__/courseTeam.js
  src/course-team/__mocks__/courseTeamWithOneUser.js
  src/course-team/data/api.js
  src/course-team/data/selectors.js
  src/course-team/data/slice.js
  src/course-team/data/thunk.js
  src/course-team/hooks.jsx
  src/course-team/info-modal/InfoModal.jsx
  src/course-team/info-modal/InfoModal.test.jsx
  src/course-team/info-modal/messages.js
  src/course-team/utils.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-team

#50 feat: Course outline Status Bar
  src/course-outline/CourseOutline.jsx
  src/course-outline/CourseOutline.scss
  src/course-outline/constants.js
  src/course-outline/data/api.js
  src/course-outline/data/selectors.js
  src/course-outline/data/slice.js
  src/course-outline/data/thunk.js
  src/course-outline/enable-highlights-modal/EnableHighlightsModal.jsx
  src/course-outline/enable-highlights-modal/EnableHighlightsModal.test.jsx
  src/course-outline/enable-highlights-modal/messages.js
  src/course-outline/hooks.jsx
  src/course-outline/status-bar/StatusBar.jsx
  src/course-outline/status-bar/StatusBar.scss
  src/course-outline/status-bar/StatusBar.test.jsx
  src/course-outline/status-bar/messages.js
  src/course-outline/utils/courseChecklistValidators.js
  src/course-outline/utils/getChecklistForStatusBar.js
  src/course-outline/utils/getChecklistValues.js
  src/hooks.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/schedule-and-details/index.jsx
  src/schedule-and-details/schedule-section/index.jsx
Labels: course-outline

#45 feat: [2U-296] add help tokens
  package-lock.json
  package.json
  src/course-outline/__mocks__/courseOutlineIndex.js
  src/course-outline/outline-sidebar/OutlineSidebar.jsx
  src/generic/help-sidebar/HelpSidebar.test.jsx
  src/generic/help-sidebar/index.jsx
  src/grading-settings/grading-sidebar/GradingSidebar.test.jsx
  src/help-urls/data/api.js
  src/help-urls/data/selectors.js
  src/help-urls/data/slice.js
  src/help-urls/data/thunks.js
  src/help-urls/hooks.jsx
  src/store.js
Labels: grading-page, course-outline

#57 fix: [2U-391] fixed letters on the Grading scale
  src/grading-settings/GradingSettings.test.jsx
  src/grading-settings/assignment-section/messages.js
  src/grading-settings/assignment-section/utils/enum.js
  src/grading-settings/data/api.js
  src/grading-settings/deadline-section/index.jsx
  src/grading-settings/grading-scale/GradingScale.jsx
  src/grading-settings/grading-scale/GradingScale.test.jsx
  src/grading-settings/grading-scale/messages.js
  src/grading-settings/grading-scale/utils.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/utils.js
Labels: bug, grading-page

#55 feat: Course Outline Reindex
  src/course-outline/CourseOutline.jsx
  src/course-outline/data/api.js
  src/course-outline/data/selectors.js
  src/course-outline/data/slice.js
  src/course-outline/data/thunk.js
  src/course-outline/enable-highlights-modal/EnableHighlightsModal.test.jsx
  src/course-outline/header-navigations/HeaderNavigations.jsx
  src/course-outline/hooks.jsx
  src/course-outline/messages.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-outline

#56 fix: Course outline tests
  src/course-outline/enable-highlights-modal/EnableHighlightsModal.test.jsx
  src/course-outline/status-bar/StatusBar.test.jsx
Labels: course-outline

#59 feat: Course Outline - Sections list
  src/course-outline/CourseOutline.jsx
  src/course-outline/CourseOutline.scss
  src/course-outline/card-header/CardHeader.jsx
  src/course-outline/card-header/CardHeader.scss
  src/course-outline/card-header/CardHeader.test.jsx
  src/course-outline/card-header/messages.js
  src/course-outline/constants.js
  src/course-outline/data/selectors.js
  src/course-outline/data/slice.js
  src/course-outline/hooks.jsx
  src/course-outline/section-card/SectionCard.jsx
  src/course-outline/section-card/SectionCard.scss
  src/course-outline/section-card/SectionCard.test.jsx
  src/course-outline/status-bar/StatusBar.scss
  src/course-outline/utils.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-outline

#58 feat: [2U-530] added alphabetically sorting for course list
  src/studio-home/tabs-section/archived-tab/index.jsx
  src/studio-home/tabs-section/courses-tab/index.jsx
  src/studio-home/tabs-section/libraries-tab/index.jsx
  src/studio-home/tabs-section/utils.js
  src/studio-home/tabs-section/utils.test.js
Labels: studio-home

#65 fix: Course updates - wrong datepicker value
  src/course-updates/course-update/CourseUpdate.jsx
  src/course-updates/update-form/UpdateForm.jsx
  src/course-updates/update-form/utils.js
Labels: course-updates

#60 feat: Course outline - Section highlights
  src/course-outline/CourseOutline.jsx
  src/course-outline/CourseOutline.scss
  src/course-outline/__mocks__/courseOutlineIndex.js
  src/course-outline/constants.js
  src/course-outline/data/api.js
  src/course-outline/data/selectors.js
  src/course-outline/data/slice.js
  src/course-outline/data/thunk.js
  src/course-outline/highlights-modal/HighlightsModal.jsx
  src/course-outline/highlights-modal/HighlightsModal.scss
  src/course-outline/highlights-modal/HighlightsModal.test.jsx
  src/course-outline/highlights-modal/messages.js
  src/course-outline/hooks.jsx
  src/course-outline/outline-sidebar/OutlineSidebar.jsx
  src/course-outline/section-card/SectionCard.jsx
  src/course-outline/section-card/SectionCard.scss
  src/course-outline/status-bar/StatusBar.jsx
  src/course-outline/utils.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-outline

#68 fix: [2U-607] new deadline section
  src/grading-settings/deadline-section/index.jsx
  src/grading-settings/deadline-section/messages.js
  src/grading-settings/deadline-section/utils.js
  src/grading-settings/deadline-section/utils.test.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: bug, grading-page

#72 feat: Course outline - Content empty
  src/course-outline/CourseOutline.jsx
  src/course-outline/CourseOutline.scss
  src/course-outline/CourseOutline.test.jsx
  src/course-outline/__mocks__/courseOutlineIndex.js
  src/course-outline/__mocks__/courseOutlineIndexWithoutSections.js
  src/course-outline/__mocks__/index.js
  src/course-outline/empty-placeholder/EmptyContent.test.jsx
  src/course-outline/empty-placeholder/EmptyPlaceholder.jsx
  src/course-outline/empty-placeholder/EmptyPlaceholder.scss
  src/course-outline/empty-placeholder/messages.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-outline

#73 fix: [2U-692] fixed sidebar margin top
  src/advanced-settings/AdvancedSettings.jsx
  src/advanced-settings/scss/AdvancedSettings.scss
  src/course-team/CourseTeam.jsx
  src/course-team/CourseTeam.scss
  src/generic/help-sidebar/HelpSidebar.scss
  src/grading-settings/GradingSettings.jsx
  src/grading-settings/scss/GradingSettings.scss
  src/schedule-and-details/ScheduleAndDetails.scss
  src/schedule-and-details/index.jsx
Labels: bug

#61 feat: Course outline - Section Publish
  src/course-outline/CourseOutline.jsx
  src/course-outline/CourseOutline.scss
  src/course-outline/card-header/CardHeader.jsx
  src/course-outline/card-header/CardHeader.test.jsx
  src/course-outline/data/api.js
  src/course-outline/data/thunk.js
  src/course-outline/hooks.jsx
  src/course-outline/publish-modal/PublishModal.jsx
  src/course-outline/publish-modal/PublishModal.scss
  src/course-outline/publish-modal/PublishModal.test.jsx
  src/course-outline/publish-modal/messages.js
  src/course-outline/section-card/SectionCard.jsx
  src/course-outline/section-card/SectionCard.test.jsx
  src/course-team/__mocks__/courseTeamWithoutUsers.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-outline

#71 feat: Course outline - Update section card
  src/course-outline/CourseOutline.jsx
  src/course-outline/card-header/CardHeader.jsx
  src/course-outline/card-header/CardHeader.scss
  src/course-outline/card-header/CardHeader.test.jsx
  src/course-outline/card-header/messages.js
  src/course-outline/section-card/SectionCard.jsx
  src/course-outline/section-card/SectionCard.scss
  src/course-outline/section-card/SectionCard.test.jsx
  src/course-outline/section-card/messages.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-outline

#78 fix: Course outline - Saving processing for highlights
  src/course-outline/CourseOutline.jsx
  src/course-outline/data/thunk.js
Labels: bug, course-outline

#80 fix: [2U-703] fixed deadline section
  src/constants.js
  src/grading-settings/deadline-section/DeadlineSection.test.jsx
  src/grading-settings/deadline-section/index.jsx
Labels: grading-page

#81 refactor: transferred React-ranger lib
  package-lock.json
  package.json
  src/grading-settings/grading-scale/GradingScale.jsx
  src/grading-settings/grading-scale/react-ranger.js
Labels: grading-page
