Repository raccoongang/frontend-app-course-authoring, pull requests merged in 2023-07, with the labels that each got.

#27 fix: schedule & details resolve bugs
  src/assets/scss/_form.scss
  src/constants.js
  src/generic/datepicker-control/DatepickerControl.jsx
  src/generic/datepicker-control/DatepickerControl.test.jsx
  src/generic/datepicker-control/index.js
  src/generic/datepicker-control/messages.js
  src/schedule-and-details/ScheduleAndDetails.scss
  src/schedule-and-details/ScheduleAndDetails.test.jsx
  src/schedule-and-details/index.jsx
  src/schedule-and-details/requirements-section/index.jsx
  src/schedule-and-details/schedule-section/certificate-display-row/CertificateDisplayRow.jsx
  src/schedule-and-details/schedule-section/datepicker-control/DatepickerControl.scss
  src/schedule-and-details/schedule-section/datepicker-control/constants.js
  src/schedule-and-details/schedule-section/schedule-row/ScheduleRow.jsx
  src/schedule-and-details/utils.js
  src/utils.js
Labels: schedule & details

#23 feat: Add wysiwyg editor
  src/CourseAuthoringRoutes.test.jsx
  src/generic/WysiwygEditor.jsx
  src/schedule-and-details/ScheduleAndDetails.test.jsx
  src/schedule-and-details/introducing-section/IntroducingSection.test.jsx
  src/schedule-and-details/introducing-section/index.jsx
Labels: schedule & details

#29 feat: Course Team
  .env
  .env.development
  src/CourseAuthoringRoutes.jsx
  src/constants.js
  src/course-team/CourseTeam.jsx
  src/course-team/CourseTeam.scss
  src/course-team/CourseTeam.test.jsx
  src/course-team/__mocks__/courseTeam.js
  src/course-team/__mocks__/courseTeamWithOneUser.js
  src/course-team/__mocks__/index.js
  src/course-team/add-team-member/AddTeamMember.jsx
  src/course-team/add-team-member/AddTeamMember.scss
  src/course-team/add-team-member/AddTeamMember.test.jsx
  src/course-team/add-team-member/messages.js
  src/course-team/add-user-form/AddUserForm.jsx
  src/course-team/add-user-form/AddUserForm.scss
  src/course-team/add-user-form/AddUserForm.test.jsx
  src/course-team/add-user-form/messages.js
  src/course-team/constants.js
  src/course-team/course-team-member/CourseTeamMember.jsx
  src/course-team/course-team-member/CourseTeamMember.scss
  src/course-team/course-team-member/CourseTeamMember.test.jsx
  src/course-team/course-team-member/messages.js
  src/course-team/course-team-sidebar/CourseTeamSideBar.test.jsx
  src/course-team/course-team-sidebar/CourseTeamSidebar.jsx
  src/course-team/course-team-sidebar/CourseTeamSidebar.scss
  src/course-team/course-team-sidebar/messages.js
  src/course-team/data/api.js
  src/course-team/data/selectors.js
  src/course-team/data/slice.js
  src/course-team/data/thunk.js
  src/course-team/hooks.jsx
  src/course-team/info-modal/InfoModal.jsx
  src/course-team/info-modal/InfoModal.test.jsx
  src/course-team/info-modal/messages.js
  src/course-team/messages.js
  src/course-team/utils.js
  src/generic/FormikControl.jsx
  src/generic/sub-header/SubHeader.jsx
  src/generic/sub-header/SubHeader.scss
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/index.scss
  src/store.js
Labels: course-team

#31 fix: console errors on schedule and details page
  src/assets/scss/_form.scss
  src/generic/WysiwygEditor.jsx
  src/generic/help-sidebar/index.jsx
  src/schedule-and-details/index.jsx
  src/schedule-and-details/introducing-section/course-code-editor/CourseCodeEditor.test.jsx
  src/schedule-and-details/introducing-section/course-code-editor/index.jsx
  src/schedule-and-details/license-section/index.jsx
  src/schedule-and-details/license-section/license-commons-options/index.jsx
  src/schedule-and-details/license-section/license-display/index.jsx
  src/schedule-and-details/license-section/license-icons/index.jsx
  src/schedule-and-details/license-section/license-selector/index.jsx
  src/schedule-and-details/requirements-section/index.jsx
Labels: schedule & details

#24 feat: Course updates
  .env.development
  src/CourseAuthoringRoutes.jsx
  src/constants.js
  src/course-updates/CourseUpdates.jsx
  src/course-updates/CourseUpdates.scss
  src/course-updates/CourseUpdates.test.jsx
  src/course-updates/__mocks__/courseHandouts.js
  src/course-updates/__mocks__/courseUpdates.js
  src/course-updates/__mocks__/index.js
  src/course-updates/constants.js
  src/course-updates/course-handouts/CourseHandouts.jsx
  src/course-updates/course-handouts/CourseHandouts.scss
  src/course-updates/course-handouts/CourseHandouts.test.jsx
  src/course-updates/course-handouts/messages.js
  src/course-updates/course-update/CourseUpdate.jsx
  src/course-updates/course-update/CourseUpdate.scss
  src/course-updates/course-update/CourseUpdate.test.jsx
  src/course-updates/course-update/messages.js
  src/course-updates/data/api.js
  src/course-updates/data/selectors.js
  src/course-updates/data/slice.js
  src/course-updates/data/thunk.js
  src/course-updates/delete-modal/DeleteModal.jsx
  src/course-updates/delete-modal/DeleteModal.test.jsx
  src/course-updates/delete-modal/messages.js
  src/course-updates/hooks.jsx
  src/course-updates/index.js
  src/course-updates/messages.js
  src/course-updates/update-form/UpdateForm.jsx
  src/course-updates/update-form/UpdateForm.scss
  src/course-updates/update-form/UpdateForm.test.jsx
  src/course-updates/update-form/messages.js
  src/course-updates/update-form/utils.js
  src/generic/WysiwygEditor.jsx
  src/generic/WysiwygEditor.scss
  src/generic/styles.scss
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/index.scss
  src/store.js
Labels: course-updates
