Repository raccoongang/frontend-app-course-authoring, pull requests merged in 2024-01, with the labels that each got.

#98 feat: Course outline - Sequence navigation
  src/CourseAuthoringRoutes.jsx
  src/constants.js
  src/course-unit/CourseUnit.jsx
  src/course-unit/CourseUnit.scss
  src/course-unit/constants.js
  src/course-unit/course-sequence/CourseSequence.scss
  src/course-unit/course-sequence/Sequence.jsx
  src/course-unit/course-sequence/hooks.js
  src/course-unit/course-sequence/index.jsx
  src/course-unit/course-sequence/messages.js
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigation.jsx
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigationDropdown.jsx
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigationTabs.jsx
  src/course-unit/course-sequence/sequence-navigation/UnitButton.jsx
  src/course-unit/course-sequence/sequence-navigation/UnitIcon.jsx
  src/course-unit/data/api.js
  src/course-unit/data/selectors.js
  src/course-unit/data/slice.js
  src/course-unit/data/thunk.js
  src/course-unit/data/utils.js
  src/course-unit/hooks.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/index.scss
Labels: course-unit

#111 feat: [AXIMST-14] Course unit - New unit btn, Replacing LMS endpoints with CMS endpoints, alert internet connection
  package-lock.json
  src/CourseAuthoringRoutes.jsx
  src/course-unit/CourseUnit.jsx
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/__mocks__/courseSectionVertical.js
  src/course-unit/__mocks__/courseUnit.js
  src/course-unit/__mocks__/index.js
  src/course-unit/course-sequence/Sequence.jsx
  src/course-unit/course-sequence/hooks.js
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigation.jsx
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigationDropdown.jsx
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigationTabs.jsx
  src/course-unit/course-sequence/sequence-navigation/UnitButton.jsx
  src/course-unit/data/api.js
  src/course-unit/data/selectors.js
  src/course-unit/data/slice.js
  src/course-unit/data/thunk.js
  src/course-unit/data/utils.js
  src/course-unit/header-title/HeaderTitle.jsx
  src/course-unit/header-title/HeaderTitle.test.jsx
  src/course-unit/hooks.jsx
Labels: course-unit

#119 feat: [AXIMST-154] Certificates page - initial Certificates screen, sidebar
  src/CourseAuthoringRoutes.jsx
  src/certificates/Certificates.jsx
  src/certificates/Certificates.test.jsx
  src/certificates/__mocks__/certificates.js
  src/certificates/__mocks__/index.js
  src/certificates/certificates-sidebar/CertificatesSidebar.test.jsx
  src/certificates/certificates-sidebar/index.jsx
  src/certificates/certificates-sidebar/messages.js
  src/certificates/certificates-sidebar/sidebar-block/SidebarBlock.test.jsx
  src/certificates/certificates-sidebar/sidebar-block/index.jsx
  src/certificates/certificates-sidebar/utils.jsx
  src/certificates/data/api.js
  src/certificates/data/selectors.js
  src/certificates/data/slice.js
  src/certificates/data/thunks.js
  src/certificates/hooks/useCertificates.jsx
  src/certificates/index.js
  src/certificates/layout/index.jsx
  src/certificates/messages.js
  src/certificates/with-modes-without-certificates/WithModesWithoutCertificates.test.jsx
  src/certificates/with-modes-without-certificates/index.jsx
  src/certificates/without-modes/WithoutModes.test.jsx
  src/certificates/without-modes/index.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/store.js
Labels: course-certificates

#118 feat: [AXIMST-19, 20, 22] Course unit - Modal windows for course unit page components
  src/course-unit/CourseUnit.jsx
  src/course-unit/add-component/AddComponent.jsx
  src/course-unit/add-component/AddComponent.scss
  src/course-unit/add-component/AddComponent.test.jsx
  src/course-unit/add-component/add-component-btn/AddComponentIcon.jsx
  src/course-unit/add-component/add-component-btn/index.jsx
  src/course-unit/add-component/add-component-modals/ComponentModalView.jsx
  src/course-unit/add-component/add-component-modals/ModalContainer.jsx
  src/course-unit/add-component/messages.js
  src/course-unit/course-sequence/Sequence.jsx
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigation.jsx
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigationTabs.jsx
  src/course-unit/data/api.js
  src/course-unit/data/selectors.js
  src/course-unit/hooks.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-unit

#120 fix: [AXIMST-399] Course unit - Update of sequence block title after changing unit name
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/__mocks__/courseUnit.js
  src/course-unit/data/thunk.js
  src/course-unit/hooks.jsx
Labels: course-unit

#133 fix: [AXIMST-416] Course-unit - Fixed prev and next buttons
  src/course-unit/course-sequence/hooks.js
Labels: course-unit

#135 feat: [AXIMST-25] Course unit - Alert notification about unpublished changes
  src/course-unit/CourseUnit.jsx
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/hooks.jsx
  src/course-unit/messages.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-unit

#134 feat: [AXIMST-24] Course unit - Sidebar buttons functional
  src/constants.js
  src/course-unit/CourseUnit.jsx
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/constants.js
  src/course-unit/data/api.js
  src/course-unit/data/thunk.js
  src/course-unit/data/utils.js
  src/course-unit/sidebar/Sidebar.scss
  src/course-unit/sidebar/components/sidebar-footer/ActionButtons.jsx
  src/course-unit/sidebar/components/sidebar-footer/UnitVisibilityInfo.jsx
  src/course-unit/sidebar/components/sidebar-footer/index.jsx
  src/course-unit/sidebar/index.jsx
  src/course-unit/sidebar/messages.js
  src/export-page/export-modal-error/ExportModalError.jsx
  src/generic/modal-notification/index.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-unit

#137 fix: [AXIMST-416] Course unit - Replaced the LMS endpoint for navigation
  src/course-unit/__mocks__/courseSectionVertical.js
  src/course-unit/course-sequence/hooks.js
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigation.jsx
  src/course-unit/data/api.js
  src/course-unit/data/selectors.js
  src/course-unit/data/slice.js
  src/course-unit/data/thunk.js
  src/course-unit/data/utils.js
  src/course-unit/hooks.jsx
Labels: course-unit

#136 fix:[AXIMST-154] Certificates page initial screen fixes
  src/certificates/Certificates.jsx
  src/certificates/certificates-sidebar/CertificatesSidebar.jsx
  src/certificates/certificates-sidebar/CertificatesSidebar.test.jsx
  src/certificates/certificates-sidebar/messages.js
  src/certificates/certificates-sidebar/sidebar-block/SidebarBlock.jsx
  src/certificates/certificates-sidebar/sidebar-block/SidebarBlock.test.jsx
  src/certificates/hooks/useCertificates.jsx
  src/certificates/layout/MainLayout.jsx
  src/certificates/messages.js
  src/certificates/with-modes-without-certificates/WithModesWithoutCertificates.jsx
  src/certificates/with-modes-without-certificates/WithModesWithoutCertificates.test.jsx
  src/certificates/without-modes/WithoutModes.jsx
  src/certificates/without-modes/WithoutModes.test.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-certificates

#115 feat: [AXIMST-344] Copy/paste functionality base
  src/constants.js
  src/course-unit/__mocks__/clipboardUnit.js
  src/course-unit/__mocks__/clipboardXBlock.js
  src/course-unit/__mocks__/index.js
  src/course-unit/clipboard/useClipboard.jsx
  src/course-unit/clipboard/useClipboard.test.jsx
  src/course-unit/constants.js
  src/course-unit/course-xblock/CourseXBlock.jsx
  src/course-unit/course-xblock/CourseXBlock.test.jsx
  src/course-unit/course-xblock/messages.js
  src/course-unit/data/api.js
  src/course-unit/data/selectors.js
  src/course-unit/data/slice.js
  src/course-unit/data/thunk.js
  src/course-unit/sidebar/components/sidebar-footer/ActionButtons.jsx
  src/course-unit/sidebar/components/sidebar-footer/ActionButtons.test.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-unit

#130 feat: [AXIMST-111] Textbooks: textbooks index page
  .gitignore
  src/CourseAuthoringRoutes.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/index.scss
  src/store.js
  src/textbooks/Textbook.test.jsx
  src/textbooks/Textbooks.jsx
  src/textbooks/Textbooks.scss
  src/textbooks/__mocks__/index.js
  src/textbooks/__mocks__/textbooksMock.js
  src/textbooks/data/api.js
  src/textbooks/data/selectors.js
  src/textbooks/data/slice.js
  src/textbooks/data/thunk.js
  src/textbooks/empty-placeholder/EmptyPlaceholder.jsx
  src/textbooks/empty-placeholder/EmptyPlaceholder.scss
  src/textbooks/empty-placeholder/EmptyPlaceholder.test.jsx
  src/textbooks/empty-placeholder/messages.js
  src/textbooks/hooks.jsx
  src/textbooks/index.js
  src/textbooks/messages.js
  src/textbooks/textbook-card/TextbookCard.scss
  src/textbooks/textbook-card/TextbooksCard.jsx
  src/textbooks/textbook-card/TextbooksCard.test.jsx
  src/textbooks/textbook-card/messages.js
  webpack.dev-tutor.config.js
Labels: textbooks
