Repository raccoongang/frontend-app-course-authoring, pull requests merged in 2024-03, with the labels that each got.

#199 fix: [AXIMST-558] Course unit - Fixed loading errors and PropTypes
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/clipboard/paste-notification/index.jsx
  src/course-unit/data/selectors.js
  src/course-unit/hooks.jsx
Labels: bug, course-unit

#202 feat: [AXIMST-605] add file name to upload preview modal
  src/generic/modal-dropzone/ModalDropzone.jsx
  src/generic/modal-dropzone/useModalDropzone.jsx
  src/textbooks/textbook-form/TextbookForm.jsx
  src/textbooks/textbook-form/TextbookForm.scss
Labels: textbooks

#203 feat: [AXIMST-605] add file name to upload preview modal
  src/textbooks/textbook-form/TextbookForm.scss
Labels: textbooks

#206 fix: [AXIMST-656] Course unit - Fixed space between xblocks
  src/course-unit/CourseUnit.jsx
  src/course-unit/CourseUnit.scss
  src/course-unit/clipboard/paste-notification/index.jsx
  src/course-unit/course-xblock/CourseXBlock.jsx
  src/course-unit/course-xblock/CourseXblock.scss
Labels: course-unit

#201 feat: Course unit - Rendering xblocks in iframes
  .env
  .env.development
  .env.test
  package-lock.json
  package.json
  src/course-unit/course-xblock/CourseXBlock.jsx
  src/course-unit/course-xblock/CourseXBlock.test.jsx
  src/course-unit/course-xblock/CourseXblock.scss
  src/course-unit/course-xblock/constants.js
  src/course-unit/course-xblock/hooks/index.js
  src/course-unit/course-xblock/hooks/useEventListener.js
  src/course-unit/course-xblock/hooks/useEventListener.test.jsx
  src/course-unit/course-xblock/hooks/useIFrameBehavior.js
  src/course-unit/course-xblock/hooks/useIFrameBehavior.test.js
  src/course-unit/course-xblock/hooks/useLoadBearingHook.js
  src/course-unit/course-xblock/hooks/useLoadBearingHook.test.js
  src/course-unit/course-xblock/messages.js
  src/course-unit/course-xblock/urls.js
  src/course-unit/course-xblock/urls.test.js
  src/course-unit/course-xblock/xblock-content/XBlockContent.jsx
  src/course-unit/course-xblock/xblock-content/XBlockContent.scss
  src/course-unit/course-xblock/xblock-content/XBlockContent.test.jsx
  src/course-unit/course-xblock/xblock-content/iframe-wrapper/iframe-wrapper.js
  src/course-unit/course-xblock/xblock-content/iframe-wrapper/index.js
  src/course-unit/course-xblock/xblock-content/iframe-wrapper/static/XBlockIFrame.css
  src/course-unit/course-xblock/xblock-content/iframe-wrapper/static/xblock-bootstrap.html
  src/course-unit/course-xblock/xblock-content/iframe-wrapper/tools/iframe-connector.js
  src/course-unit/course-xblock/xblock-content/iframe-wrapper/tools/index.js
  src/course-unit/course-xblock/xblock-content/iframe-wrapper/tools/utils.js
  src/course-unit/course-xblock/xblock-content/index.js
  src/course-unit/data/api.js
  src/course-unit/data/selectors.js
  src/course-unit/data/slice.js
  src/course-unit/data/thunk.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/index.jsx
  webpack.dev.config.js
  webpack.prod.config.js
Labels: course-unit

#215 fix: [AXIMST-719] fixed SCORM xblock rendering
  src/course-unit/course-xblock/xblock-content/iframe-wrapper/iframe-wrapper.js
Labels: course-unit
