Repository raccoongang/frontend-app-course-authoring, pull requests merged in 2024-02, with the labels that each got.

#149 feat: [AXIMST-166] Certificates page - Certificates screen
  src/certificates/Certificates.jsx
  src/certificates/certificate-without-modes/CertificateWithoutModes.jsx
  src/certificates/certificate-without-modes/CertificateWithoutModes.test.jsx
  src/certificates/certificates-card/CertificatesCard.jsx
  src/certificates/certificates-card/CertificatesCard.test.jsx
  src/certificates/certificates-card/certificate-details/CertificateDetails.jsx
  src/certificates/certificates-card/certificate-details/CertificateDetails.test.jsx
  src/certificates/certificates-card/certificate-signatories/CertificateSignatories.jsx
  src/certificates/certificates-card/certificate-signatories/CertificateSignatories.test.jsx
  src/certificates/certificates-card/certificate-signatories/signatory/Signatory.jsx
  src/certificates/certificates-card/certificate-signatories/signatory/Signatory.test.jsx
  src/certificates/certificates-cards/CertificatesCards.test.jsx
  src/certificates/data/slice.js
  src/certificates/data/thunks.js
  src/certificates/empty-certificates-with-modes/EmptyCertificatesWithModes.jsx
  src/certificates/empty-certificates-with-modes/EmptyCertificatesWithModes.test.jsx
  src/certificates/hooks/useCertificates.jsx
  src/certificates/scss/Certificates.scss
  src/generic/modal-dropzone/ModalDropzone.jsx
  src/generic/modal-dropzone/ModalDropzone.test.jsx
  src/generic/modal-dropzone/messages.js
  src/generic/modal-dropzone/useModalDropzone.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-certificates

#145 fix: [AXIMST-427] Course unit - Fixed unpublished changes alert
  src/course-unit/CourseUnit.jsx
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/hooks.jsx
Labels: course-unit

#146 fix: [AXIMST-434-435] Textbooks: fixed textbook chapter texts
  src/textbooks/textbook-card/TextbookCard.scss
Labels: textbooks

#150 feat: [AXIMST-172] Certificates page - certificates delete
  src/certificates/Certificates.test.jsx
  src/certificates/certificates-card/CertificatesCard.test.jsx
  src/certificates/certificates-card/certificate-details/CertificateDetails.jsx
  src/certificates/certificates-card/certificate-details/CertificateDetails.test.jsx
  src/certificates/certificates-card/certificate-signatories/CertificateSignatories.test.jsx
  src/certificates/certificates-card/certificate-signatories/signatory/Signatory.jsx
  src/certificates/certificates-card/certificate-signatories/signatory/Signatory.test.jsx
  src/certificates/certificates-card/messages.js
  src/certificates/data/api.js
  src/certificates/data/slice.js
  src/certificates/data/thunks.js
  src/certificates/layout/MainLayout.jsx
  src/certificates/layout/certificates-sidebar/sidebar-block/SidebarBlock.test.jsx
  src/certificates/scss/Certificates.scss
  src/certificates/scss/_variables.scss
  src/generic/modal-dropzone/ModalDropzone.jsx
  src/generic/modal-dropzone/ModalDropzone.test.jsx
  src/generic/modal-dropzone/messages.js
  src/generic/modal-dropzone/useModalDropzone.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-certificates

#153 fix: [AXIMST-470] Course unit - Fixed sidebar status after deleting or duplicating xblock
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/data/thunk.js
Labels: course-unit

#156 fix: [AXIMST-473] Course unit - Fixed sidebar publish status
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/data/thunk.js
Labels: course-unit

#160 fix: [AXIMST-480] Course unit - Fixed paste notification behavior after switching a unit
  src/course-unit/data/thunk.js
Labels: course-unit

#161 fix: [AXIMST-478] Course unit - Fixed copy-paste tooltip
  src/course-unit/clipboard/paste-component/index.jsx
Labels: course-unit

#159 feat: [AXIMST-117] Textbooks: add textbook form
  src/generic/FormikControl.jsx
  src/generic/PromptIfDirty.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/textbooks/Textbooks.jsx
  src/textbooks/Textbooks.scss
  src/textbooks/data/api.js
  src/textbooks/data/selectors.js
  src/textbooks/data/slice.js
  src/textbooks/data/thunk.js
  src/textbooks/empty-placeholder/messages.js
  src/textbooks/hooks.jsx
  src/textbooks/textbook-form/TextbookForm.jsx
  src/textbooks/textbook-form/TextbookForm.scss
  src/textbooks/textbook-form/TextbookForm.test.jsx
  src/textbooks/textbook-form/messages.js
  src/textbooks/textbook-form/validations.js
  src/textbooks/utils.js
  webpack.dev-tutor.config.js
Labels: textbooks

#169 feat: [AXIMST-135] Textbooks: Delete textbook
  src/generic/delete-modal/DeleteModal.jsx
  src/generic/delete-modal/DeleteModal.test.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/textbooks/Textbooks.jsx
  src/textbooks/data/api.js
  src/textbooks/data/slice.js
  src/textbooks/data/thunk.js
  src/textbooks/hooks.jsx
  src/textbooks/textbook-card/TextbooksCard.jsx
  src/textbooks/textbook-card/TextbooksCard.test.jsx
  src/textbooks/textbook-card/messages.js
Labels: textbooks

#163 feat: [AXIMST-178] Certificates page - Certificate edit
  src/certificates/Certificates.jsx
  src/certificates/Certificates.test.jsx
  src/certificates/__mocks__/certificatesData.js
  src/certificates/certificate-create-form/CertificateCreateForm.jsx
  src/certificates/certificate-create-form/CertificatesCreateForm.test.jsx
  src/certificates/certificate-create-form/hooks/useCertificateCreateForm.jsx
  src/certificates/certificate-create/CertificateCreate.jsx
  src/certificates/certificate-details/CertificateDetails.jsx
  src/certificates/certificate-details/CertificateDetails.test.jsx
  src/certificates/certificate-details/CertificateDetailsForm.jsx
  src/certificates/certificate-details/CertificateDetailsForm.test.jsx
  src/certificates/certificate-details/hooks/useCertificateDetails.jsx
  src/certificates/certificate-details/messages.js
  src/certificates/certificate-edit-form/CertificateEditForm.jsx
  src/certificates/certificate-edit-form/hooks/useCertificateEditForm.jsx
  src/certificates/certificate-section/CertificateSection.jsx
  src/certificates/certificate-signatories/CertificateSignatories.jsx
  src/certificates/certificate-signatories/CertificateSignatories.test.jsx
  src/certificates/certificate-signatories/hooks/useCreateSignatory.jsx
  src/certificates/certificate-signatories/hooks/useEditSignatory.jsx
  src/certificates/certificate-signatories/messages.js
  src/certificates/certificate-signatories/signatory/Signatory.jsx
  src/certificates/certificate-signatories/signatory/Signatory.test.jsx
  src/certificates/certificate-signatories/signatory/SignatoryForm.jsx
  src/certificates/certificate-signatories/signatory/SignatoryForm.test.jsx
  src/certificates/certificates-card/CertificatesCard.jsx
  src/certificates/certificates-card/CertificatesCard.test.jsx
  src/certificates/certificates-card/certificate-details/CertificateDetails.jsx
  src/certificates/certificates-card/certificate-signatories/CertificateSignatories.jsx
  src/certificates/certificates-card/certificate-signatories/signatory/Signatory.jsx
  src/certificates/certificates-cards/CertificatesCards.jsx
  src/certificates/certificates-cards/CertificatesCards.test.jsx
  src/certificates/certificates-list/CertificatesList.jsx
  src/certificates/certificates-list/CertificatesList.test.jsx
  src/certificates/certificates-list/hooks/useCertificatesList.jsx
  src/certificates/data/api.js
  src/certificates/data/constants.js
  src/certificates/data/slice.js
  src/certificates/data/thunks.js
  src/certificates/hooks/useCertificates.jsx
  src/certificates/layout/MainLayout.jsx
  src/certificates/layout/certificates-sidebar/CertificatesSidebar.jsx
  src/certificates/messages.js
  src/certificates/scss/Certificates.scss
  src/certificates/utils.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: course-certificates

#171 feat: [AXIMST-184,196,190] Certificates page - preview certificate, activate/deactivate, verified mode
  src/certificates/Certificates.test.jsx
  src/certificates/__mocks__/certificatesData.js
  src/certificates/layout/header-buttons/HeaderButtons.jsx
  src/certificates/layout/header-buttons/HeaderButtons.test.jsx
  src/certificates/layout/header-buttons/hooks/useHeaderButtons.jsx
  src/certificates/scss/Certificates.scss
Labels: course-certificates

#170 feat: [AXIMST-338] Course unit - Added canEdit and canPasteComponent variables
  src/course-unit/CourseUnit.jsx
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/__mocks__/courseVerticalChildren.js
  src/course-unit/clipboard/hooks/useClipboard.jsx
  src/course-unit/course-xblock/CourseXBlock.jsx
  src/course-unit/data/selectors.js
  src/course-unit/data/slice.js
  src/course-unit/hooks.jsx
  src/course-unit/sidebar/components/sidebar-footer/ActionButtons.jsx
Labels: course-unit

#172 feat: [AXIMST-129] Textbooks: Textbook preview
  src/textbooks/Textbooks.jsx
  src/textbooks/textbook-card/TextbooksCard.jsx
Labels: textbooks

#174 fix: [AXIMST-488-489] Textbooks: file size and upload connection alert
  src/constants.js
  src/generic/modal-dropzone/ModalDropzone.jsx
  src/textbooks/Textbooks.scss
  src/textbooks/hooks.jsx
  src/textbooks/textbook-form/TextbookForm.jsx
Labels: textbooks

#180 fix: [AXIMST-512] Course unit - Fixed drag and drop buttons
  src/course-unit/CourseUnit.scss
  src/course-unit/course-xblock/CourseXblock.scss
  src/course-unit/header-title/HeaderTitle.jsx
  src/course-unit/header-title/HeaderTitle.scss
Labels: course-unit

#190 feat: [AXIMST-525] Course unit - Separated the copy unit button
  src/course-unit/sidebar/Sidebar.scss
  src/course-unit/sidebar/components/sidebar-footer/ActionButtons.jsx
  src/generic/divider/Divider.jsx
  src/generic/divider/Divider.scss
  src/generic/divider/index.jsx
  src/generic/styles.scss
Labels: course-unit

#186 refactor: [AXIMST-507] Course unit - Changed Paste unit UI
  src/course-unit/CourseUnit.test.jsx
  src/course-unit/course-sequence/CourseSequence.scss
  src/course-unit/course-sequence/sequence-navigation/SequenceNavigationTabs.jsx
Labels: course-unit

#188 feat: [AXIMST-93, 99, 105, 518, 537] Group configuration - Experiment Groups
  src/group-configurations/GroupConfigurations.scss
  src/group-configurations/__mocks__/experimentGroupConfigurationsMock.js
  src/group-configurations/common/TitleButton.jsx
  src/group-configurations/common/UsageList.jsx
  src/group-configurations/common/index.js
  src/group-configurations/common/messages.js
  src/group-configurations/constants.js
  src/group-configurations/content-groups-section/ContentGroupCard.jsx
  src/group-configurations/content-groups-section/ContentGroupCard.test.jsx
  src/group-configurations/content-groups-section/ContentGroupForm.jsx
  src/group-configurations/content-groups-section/ContentGroupForm.test.jsx
  src/group-configurations/content-groups-section/ContentGroupsSection.test.jsx
  src/group-configurations/content-groups-section/index.jsx
  src/group-configurations/content-groups-section/messages.js
  src/group-configurations/data/api.js
  src/group-configurations/data/slice.js
  src/group-configurations/data/thunk.js
  src/group-configurations/enrollment-track-groups-section/EnrollmentTrackGroupsSection.test.jsx
  src/group-configurations/enrollment-track-groups-section/index.jsx
  src/group-configurations/experiment-configurations-section/ExperimentCard.jsx
  src/group-configurations/experiment-configurations-section/ExperimentCard.test.jsx
  src/group-configurations/experiment-configurations-section/ExperimentCardGroup.jsx
  src/group-configurations/experiment-configurations-section/ExperimentConfigurationsSection.test.jsx
  src/group-configurations/experiment-configurations-section/ExperimentForm.jsx
  src/group-configurations/experiment-configurations-section/ExperimentForm.test.jsx
  src/group-configurations/experiment-configurations-section/ExperimentFormGroups.jsx
  src/group-configurations/experiment-configurations-section/constants.js
  src/group-configurations/experiment-configurations-section/index.jsx
  src/group-configurations/experiment-configurations-section/messages.js
  src/group-configurations/experiment-configurations-section/utils.js
  src/group-configurations/experiment-configurations-section/utils.test.js
  src/group-configurations/experiment-configurations-section/validation.js
  src/group-configurations/group-configuration-container/ExperimentGroupStack.jsx
  src/group-configurations/group-configuration-container/GroupConfigurationContainer.scss
  src/group-configurations/group-configuration-container/GroupConfigurationContainer.test.jsx
  src/group-configurations/group-configuration-container/UsageList.jsx
  src/group-configurations/group-configuration-container/messages.js
  src/group-configurations/group-configuration-sidebar/messages.js
  src/group-configurations/hooks.jsx
  src/group-configurations/index.jsx
  src/group-configurations/messages.js
  src/group-configurations/utils.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fa_IR.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
Labels: group-configuration
